<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }} - Prototypes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
</head>
<body>
<nav>
    <h1>Displaying OpenStreetMap maps</h1>
</nav>
<section class="content">
    <header>
    <h2>{{ name }}</h2>
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message | safe }}</div>
    {% endfor %}
    {% if geojson_data_with_names_and_locs is defined %}
        {% for item in geojson_data_with_names_and_locs %}
            <h3>{{ item[0] }} [{{ item[1][0] }}, {{ item[1][1] }}]</h3>
            <div id="map{{ loop.index }}" style="width: 930px; height: 520px;"></div>
            <br/>
            <br/>
        {% endfor %}
    {% endif %}
</section>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script type="text/javascript">
window.onerror = function(message, url, linenumber) {
    if (typeof map !== 'undefined' && map) {map.remove();}
      
    const elemDiv = document.createElement('div');
    elemDiv.innerHTML = '<p>' + message + ', ligne : ' + linenumber + '</p>';
    document.body.appendChild(elemDiv);
}
</script>

{% if geojson_data_with_names_and_locs is defined %}
    {% for item in geojson_data_with_names_and_locs %}
        <script id="geojson-data{{ loop.index }}" type="application/json">
        {{ item[3] | tojson }}
        </script>
    {% endfor %}
{% endif %}

<script>
{% if geojson_data_with_names_and_locs is defined %}
    {% for item in geojson_data_with_names_and_locs %}
        try {
            const geojsonData{{ loop.index }} = JSON.parse(document.getElementById("geojson-data{{ loop.index }}").textContent);

            map = L.map('map{{ loop.index }}').setView([{{ item[1][0] }}, {{ item[1][1] }}], 10);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            L.geoJSON(geojsonData{{ loop.index }}).addTo(map);

            if (geojsonData{{ loop.index }}.features && geojsonData{{ loop.index }}.features.length > 0) {
                const props = geojsonData{{ loop.index }}.features[0].properties;
                if (props && props.extratags && props.extratags.population) {
                    L.popup()
                    .setLatLng([{{ item[1][0] }}, {{ item[1][1] }}])
                    .setContent("Population: " + geojsonData{{ loop.index }}.features[0].properties.extratags.population + " inhabitants")
                    .openOn(map);
                }
            }

            map.fitBounds({{ item[2] }});
        } catch(e) {
            if (typeof map !== 'undefined' && map) {map.remove();}

            const div = document.getElementById('map{{ loop.index }}');
            if (div) {div.innerHTML = `<p>${e}</p>`;}
        }
    {% endfor %}
{% endif %}
</script>
</body>
</html>