{% extends 'base_ll.html' %}

{% block title %}{{ name }}{% endblock %}

{% block header %}
<style>
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}
</style>
<h2>{{ name }}</h2>
{% endblock %}

{% block content %}
<br/>
{% if gpx_data %}
<a id="download-link" download="route_export.gpx">Export GPX</a>
<p/>
{% endif %}
<table style="width:100%">
<tr>
<th>Steps</th>
<th>Navigation instructions</th>
<th>Distances<br/>(m)</th>
</tr>
{% for instruction in instructions %}
<tr>
<td style='text-align: center'>{{ instruction[0] }}</td>
<td>{{ instruction[1] | safe }}</td>
<td style='text-align: right'>{{ instruction[2] | safe }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
 
{% block script %}
<script id="geojson-data" type="application/json">
{{ track_geo |  tojson }}
</script>

{% if gpx_data %}
<script id="gpx-data" type="application/xml">
{{ gpx_data | safe }}
</script>
{% endif %}

<script type="text/javascript">
let map;
try {
    const geojsonData = JSON.parse(document.getElementById("geojson-data").textContent);

    map = L.map('map').setView({{ loc }}, {{ zoom }});

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const routeLayer = L.geoJSON(geojsonData, {
        style: {
            color: 'purple', 
            weight: 4
        }
    }).addTo(map);

    const center = routeLayer.getBounds().getCenter();

    L.popup()
    .setLatLng(center)
    .setContent(`Distance: ${geojsonData.features[0].properties.distance_miles} miles<br>Duration: ${geojsonData.features[0].properties.duration_hours} hours`)
    .openOn(map);

    const greenIcon = L.icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
        shadowUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    const redIcon = L.icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    L.marker({{ start|tojson }}, {icon: greenIcon}).addTo(map).bindPopup("Start: Saint-Jean-Pied-de-Port");
    L.marker({{ end|tojson }}, {icon: redIcon}).addTo(map).bindPopup("End: Santiago de Compostela");

    map.fitBounds(routeLayer.getBounds());

} catch(e) {
    if (typeof map !== 'undefined' && map) {map.remove();}
    
    const div = document.getElementById("map")
    if (div) {div.remove();}
        
    const elemDiv = document.createElement('div');
    elemDiv.innerHTML = `<p>${e}</p>`;
    document.body.appendChild(elemDiv);
}  
</script>

{% if gpx_data %}
<script>
    const blob = new Blob([document.getElementById("gpx-data").textContent], { type: "application/xml" });
    const url = URL.createObjectURL(blob);

    const link = document.getElementById("download-link");
    link.href = url;
</script>
{% endif %}
{% endblock %}