<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Prototypes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block links %}{% endblock %}
</head>
<body>
  <nav>
    <h1>Displaying OpenStreetMap maps</h1>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message | safe }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  {% block script %}{% endblock %}
</body>
</html>